.navbar-nav-container {
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;

  box-sizing: border-box;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0px 1px 4px 0.5px #E0E0E0;
  background-color: white;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.navbar-menu-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-menu-hamburger-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  width: 100%;
}

.navbar-menu-hamburger-icon {
  height: 40px;
  width: 45px;
}

.navbar-menu-menu-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

.navbar-site-title-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-navlink-title-text {

  font-size: 2.5rem;
  height: 100%;
  text-decoration: none;
  color: black;
}

.navbar-search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
}

.navbar-search-bar-form-container:hover {
  cursor: not-allowed;
}

.navbar-search-bar-form-container {
  display: flex;
  justify-content: center;
}

.navbar-search-bar-search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #F0F0F0
}

.navbar-search-bar-magnifying-glass-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-bar-magnifying-glass {
  height: 20px;
  width: 20px;
}

.navbar-search-bar-input-field {
  width: 700px;
  border: none;
  font-size: 1.2rem;
  background-color: #F0F0F0;
  padding: 8px;
}

.navbar-search-bar-input-field:hover {
  cursor: not-allowed;
}

.navbar-search-bar-input-field::placeholder {
  font-weight: 250;
  color: #5B6167;
}

.navbar-search-bar-input-field:focus {
  outline: none;
  cursor: not-allowed;
}

.navbar-search-bar-search-cancel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #F0F0F0
}

.navbar-search-bar-cancel-x {
  height: 15px;
  width: 15px;
}

.navbar-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-login-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-login-icon {
  height: 35px;
  width: 33px;
  padding: .2rem;
}

.navbar-login-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: .8rem;
  color: black;
}




.navbar-user-info-login-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}

.navbar-user-info-profile-navlink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.navbar-user-info-short-username {
  background-color: #DBDBDB;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-in-out
}

.navbar-user-info-account {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out
}

.navbar-user-info-account:hover,
.navbar-user-info-short-username:hover {
  color: red;
}

.navbar-logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

.navbar-logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: #DBDBDB;
  font-size: .66rem;
  transition: all 0.15s ease-in-out
}

.navbar-logout-button:hover {
  cursor: pointer;
  color: red;
}

.navbar-shopping-cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  width: 100%;
}

.navbar-cart-icon {
  height: 35px;
  width: 35px;
}

.navbar-shopping-cart-label {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-shopping-cart-link {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in-out
}

.navbar-shopping-cart-link:hover {
  cursor: pointer;
  color: red;
}

.navbar-login-text {
  color: black;
  transition: all .15s ease-in-out
}

.navbar-login-text:hover {
  color: red;
}
